.Rproj.user
.Rhistory
.RData
.Ruserdata
*.jags
/Data
/Results
/Figures
out*
/Scripts/2-process-SIC-data/Buffers/
/Scripts/2-process-SIC-data/LandMask/
/Scripts/2-process-SIC-data/Locations/
/Scripts/2-process-SIC-data/PassiveMicrowaveSIC/
/Scripts/2-process-SIC-data/SiteLevelSIC/
/Appendices